# You can remove all the comments you don't want from this anymore in your .env file

# General
DOMAIN=domain.tld
TIMEZONE=Europe/London # Look up TZ timezones

# Subdomains
FILEHOST_DOMAIN="files.${DOMAIN}"

# Cloudflared
TUNNEL_UUID=x111xx1x-xxx1-1x111x-x11x-x1xxx11x11xx 
# ^^ look at the end of the Cloudflare documentation in README.md

# Caddy Cloudflare plugin
EMAIL=address@domain.tld # Email used when signing up to Cloudflare
CF_API_TOKEN=dsfkjaeslkfssdlfkjaselrkdsfsef 
# ^^ Check the Environment Variables section in the README.md

# Username and password to prevent others from uploading to your fileserver
FILEHOST_USERNAME=username
FILEHOST_PASSWORD=JDJhJDE0JFNlMFhRQTh0bTZtUWdyeGNaOFh5TXVwRm9DU3Vadm5MbzJhMWxvT1RpejluVEk0VEFIT3B5 # testpassword
# ^^ generated using command "caddy hash-password --plaintext testpassword"
#    don't use this password, generate your own!

# Filehost
SERVER_NAME="${FILEHOST_DOMAIN}" # don't replace this
MAX_FILESIZE=100 # Megabytes
MIN_FILEAGE=100000 # Days
MAX_FILEAGE=1000000 # Days
UPLOAD_TIMEOUT=120 # Seconds
ID_LENGTH=30 # length of the unique URI, longer prevents random guesses
FORCE_HTTPS=true
ADMIN_EMAIL=address@domain.tld